<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <header>
        <%- include('../layout/header') %>
    </header>
    <main>
      <h1>Error</h1>
        <p><%= error %></p>
      <h2>Uh-oh, the gremlings have gotten into the code again</h2>
      <img src="https://media.giphy.com/media/ERCTG4DPik4W4/giphy.gif" alt="Gremlins Playing" title="Gremlins Playing">
    </main>
  </body>
</html>