<a href="#main-menu"
    class="menu-toggle"
    id="main-menu-toggle">
  <span class="fa fa-bars"></span>
  <span></span>
  <span></span>
</a>

<nav id="main-menu"
      class="main-menu">
  <a href=""
      class="menu-close"
      id="main-menu-close">
    <span class="fa fa-close"></span>
    <span></span>
    <span></span>
  </a>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/new_search">Book Search</a></li>
  </ul>
</nav>

<h1 class="logo">Book Emporium</h1>
